@model SeguridadInformática.Models.Control

@{
    ViewData["Title"] = "Crear Control";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <!-- Campos del modelo Control -->
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TipoControl"></label>
        <select asp-for="TipoControl" class="form-control">
            @foreach (var tipoControl in Enum.GetValues(typeof(SeguridadInformática.Models.TipoControl)))
            {
                <option value="@tipoControl">@tipoControl</option>
            }
        </select>
        <span asp-validation-for="TipoControl" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Eficacia"></label>
        <input asp-for="Eficacia" type="number" class="form-control" min="0" max="10" step="0.1" />
        <span asp-validation-for="Eficacia" class="text-danger"></span>
    </div>

    <select id="riesgosDisponibles" class="form-control" multiple>
        @foreach (var riesgo in ViewBag.ListaRiesgos)
        {
            <option value="@riesgo.Value">@riesgo.Text</option>
        }
    </select>

    <button type="button" id="agregarRiesgo">Agregar Riesgo</button>

    <ul id="listaRiesgosSeleccionados">
        <!-- Aquí se mostrarán los riesgos seleccionados -->
    </ul>

    <!-- Al enviar el formulario, esta lista se enviará también -->
    <input type="hidden" name="riesgosSeleccionados" id="riesgosSeleccionados" value="" />





    <!-- Otros campos según sea necesario -->
    <!-- Botón para guardar -->
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#agregarRiesgo').click(function () {
                $('#riesgosDisponibles :selected').each(function (i, selected) {
                    var riesgoId = $(selected).val();
                    var riesgoNombre = $(selected).text();

                    // Agregar a la lista visual en la interfaz de usuario
                    $('#listaRiesgosSeleccionados').append($('<li>').text(riesgoNombre).attr('data-riesgo-id', riesgoId));

                    // Agregar a la lista que se enviará en el formulario
                    var riesgosActuales = $('#riesgosSeleccionados').val();
                    $('#riesgosSeleccionados').val(riesgosActuales + (riesgosActuales ? ',' : '') + riesgoId);
                });
            });
        });
    </script>

}