@model IEnumerable<SeguridadInformática.Models.Control>

@{
    ViewData["Title"] = "Listado de Controles";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" id="tempMessage">
        @TempData["Message"]
    </div>
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo Control</th>
            <th>Descripción</th>
            <th>Eficacia esperada</th>
            <th>Riesgos Asociados</th> <!-- Nueva columna para riesgos -->
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var control in Model)
            {
                <tr>
                    <td>@control.Nombre</td>
                    <td>@control.TipoControl</td>
                    <td>@control.Descripcion</td>
                    <td>@control.Eficacia </td>
                    <td>
                        @string.Join(", ", control.listaDeRiesgos.Select(riesgo => riesgo.Nombre))
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-Id_Control="@control.Id_Control">Ver Detalles</a> |
                        <a asp-action="Edit" asp-route-Id_Control="@control.Id_Control">Editar</a> |
                        <a asp-action="Delete" asp-route-Id_Control="@control.Id_Control">Eliminar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No hay controles disponibles.</td>
            </tr>
        }
    </tbody>
</table>
