@model SeguridadInformática.Models.Riesgo
@{
    ViewData["Title"] = "Detalles Riesgo";
}

<h1>@ViewData["Title"]</h1>

<style>
    .no-click {
        pointer-events: none;
    }
</style>


<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id_Riesgo" />

    <div class="form-group no-click">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group no-click">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Categoría Amenaza:</label>
        <p>@Model.CategoriaAmenaza</p>
    </div>


    <div class="form-group no-click" id="tagDetailsContainer">
        <label asp-for="TagCategoria"></label>
        <select asp-for="TagCategoria" id="tagCategoria" asp-items="new SelectList(ViewBag.CategoriasAmenaza)" class="form-control"></select>
        <span asp-validation-for="TagCategoria" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Vulnerabilidad:</label>
        <p>@Model.Vulnerabilidad.ToString()</p>
    </div>


    <div class="form-group no-click">
        <label asp-for="NivelAceptableDeRiesgo"></label>
        <input asp-for="NivelAceptableDeRiesgo" class="form-control" />
        <span asp-validation-for="NivelAceptableDeRiesgo" class="text-danger"></span>
    </div>

    <div class="form-group no-click">
        <label asp-for="NivelDeRiesgo"></label>
        <input asp-for="NivelDeRiesgo" class="form-control" />
        <span asp-validation-for="NivelDeRiesgo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Impacto:</label>
        <p>@Model.Impacto.ToString()</p>
    </div>

    <div class="form-group">
        <label>PosibilidadDeOcurrir:</label>
        <p>@Model.PosibilidadDeOcurrir.ToString()</p>
    </div>

    <div class="form-group">
        <label>ActivoEnRiesgo:</label>
        <p>@Model.ActivoEnRiesgo.Nombre.ToString()</p>
    </div>

    <!-- Agrega los demás campos según sea necesario -->

</form>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
</div>

